{% extends "layout.html" %}

{% block title %}- Form{% endblock %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-5">A Demo to Parse Debian Control Files Using <a
            href="https://github.com/aihaddad/deb-parse"><strong>Deb-Parse</strong></a></h1>
    <p class="lead">Try it out with a sample file <em>(e.g. /var/lib/dpkg/status)</em> or any other that fits the <a
            target="_blank" href="https://www.debian.org/doc/debian-policy/ch-controlfields.html">syntax</a>.</p>
    <p> <em>Make sure to make it <strong>.txt</strong> before you upload</em></p>
</div>

<div class="container">
    <br><br><br><br><br>
    <form method="post" action="/" enctype="multipart/form-data">
        <div class="form-row">
            <div class="input-group form-group col-md-8 offset-md-2">
                <div class="custom-file">
                    <label class="custom-file-label" for="file">Choose a .txt file...</label>
                    <input type="file" class="custom-file-input" name="file">
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Upload</button>
                </div>
            </div>
        </div>
    </form>
</div>

<footer class="container fixed-bottom">
    <p class="display-6"><em>This app is only intended as a quick demo. It is not connected to any database,
            and only uses ephemeral file storage.<br>Any file or displayed data will only be available for
            as long as the compute instance is live.</em>
    </p>
</footer>

{% endblock %}